<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455829244652-9ndafoft5l5t6a6e4olqvatkslmretin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455829244652-9ndafoft5l5t6a6e4olqvatkslmretin</string>
	<key>API_KEY</key>
	<string>AIzaSyBwJ5CJMhGY70KJm_iuSMVk_M7C-hqu_aU</string>
	<key>GCM_SENDER_ID</key>
	<string>455829244652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ans96283.NoteApp</string>
	<key>PROJECT_ID</key>
	<string>my-project-1-245100</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1-245100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455829244652:ios:30ba877af92faf0e6933c9</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1-245100.firebaseio.com</string>
</dict>
</plist>